.glory-container {
   width: 90vw;
   max-width: 500px;
   margin: auto;

   h1 {
      font-size: 2.5rem;
      margin-bottom: 0;
   }
   h2 {
      margin-top: 0;
   }

   table {
      width: 100%;

      .id {
         text-align: right;
      }

      .name {
         text-align: left;
      }
      .score {
         text-align: right;
      }
   }
   .first {
      font-weight: 600;
      font-size: 1.2rem;
      list-style: none;
      margin-left: 0.2rem;
   }

   .top {
      font-weight: 600;
   }
}
